:root {
  --red:  lightcoral;
  --blue: lightskyblue;
  --neutral: bisque;
}

body {
    background: radial-gradient(at 50% 100%, #f5a908, #a82052 60%, #6d0343 80%);
    background-attachment: fixed;
    margin: 0;
}

.container-centred {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

#splash {
  background-color:rgba(255, 255, 255, 0.3);
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
}

#splash h1 {
    margin-top: 0;
}

#splash input[type=number] {
  appearance: textfield;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.2);
}

@media (min-width: 1200px) {
  #game-info {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  #game-info {
      grid-template-columns: 1fr 1fr;
  }
  .clue {
    justify-self: center;
  }
}

@media (max-width: 800px) {
  #game-info {
      grid-template-columns: 1fr;
  }
}

#game-info {
  display: grid;
}

.clue {
  margin: 10px auto;
  text-align: center;
  align-self: end;
}

.clue > h2 {
  margin: 10px auto; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

button {
  margin-top: 10px
}

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

#invalid-game {
  background-color:rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 20px;
  box-sizing: content-box;
}

.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear 4s;
}