/* button {
    all: unset;
} */  

.card {
    box-shadow: 2px 3px 8px 0 black;
    /* min-height: 100px; */
    aspect-ratio: 2.2 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    user-select: none;
    font-size: 20px;
    /* font-family: 'Courier New', Courier, monospace; */
    /* cursor: pointer; */
}

.card.teamA {
    background-color: var(--red);
}

.card.teamB {
    background-color: var(--blue);
}

.card.neutral {
    background-color: var(--neutral);
}

.card.assassin {
    background-color: grey;
}

.card.revealed {
    font-size: 0;
}