@media (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
}
 
@media (max-width: 750px) {
    .grid {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
    }
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 30px;
    border: 6px solid;
    border-radius: 30px;
}

.teamA {
    border-color: lightcoral;
}

.teamB {
    border-color: lightskyblue;
}

.clue {
    margin: 10px auto;
    max-width: 50%;
    text-align: center;
}

.clue > h2 {
    margin: 10px auto; 
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#gameId {
    display: flex;
    align-items: center;
    gap: 10px;
}