.card {
    box-shadow: 2px 3px 8px 0 black;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.card.teamA {
    background-color: lightcoral;
}

.card.teamB {
    background-color: lightskyblue;
}

.card.neutral {
    background-color: bisque;
}

.card.assassin {
    background-color: grey;
}

.card.revealed {
    font-size: 0;
}